body {
  margin: 0;
}

select {
  /*Le damos un ancho máximo del menor de los valores 100% y 240px*/
  width: min(100%,240px);
  /*Padding y line height para lograr la altura deseada, en este caso 48px*/
  padding: 12px;
  line-height: 24px;
  /*Un poco de estilo para el borde*/
  border: solid 1px #999;
  border-radius: 12px;
}
optgroup {
  font-weight: 400;
  font-style: italic;
  color: steelblue;
  background-color: aliceblue;
}
option {
  color: slategray;
  background-color: #fff;
  text-indent: 0;
}